// Works
.card-works {
    border-width: 0;
    box-shadow: $box-shadow-sm;
    text-align: center;
}

// Careers
.card-careers {
    border-width: 0;

    .card {
        &-header {
            padding: 0;
            border-bottom-width: 0;
            border-bottom: 1px solid rgba($primary, .25);
            margin-bottom: 0 !important;

            a {
                display: block;
                background-color: $light;
                margin-bottom: 0 !important;
                color: $body-color;
                padding: 18px 26px;

                &:hover,
                &:focus {
                    text-decoration: none;
                    font-weight: 600;
                }

                &[aria-expanded="true"] {
                    background-color: $white;
                }
            }
        }
    }
}