.navbar{
    @include media-breakpoint-down(md){
        .offcanvas-collapse {
            position: fixed;
            top: 86px;
            bottom: 0;
            left: 100%;
            width: 100%;
            padding-right: 1rem;
            padding-left: 1rem;
            overflow-y: auto;
            visibility: hidden;
            background-color: $primary-dark;
            transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
            transition: transform .3s ease-in-out, visibility .3s ease-in-out;
            transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
            &.open {
                visibility: visible;
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%);
              }
          }
    }
}